html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.content p {

}

body>.container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.sidebar .page-header:first-child {
    margin: 0 0 20px;
}

@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

/* Image overlay */
figure.overlay {
    position: relative;
    width: 100%;
    z-index: 1;
}
figure.overlay img {width: 100% }

figure.overlay figcaption {
    position: absolute;
    z-index: 1000;
    height: 100%;
    width: 100%;
    top: 0;
    /**optional background overlay**/
    /*background: rgba(255,255,255,0.2);*/
    /**text, adjust all values as desired**/
    padding: 57% 2% 0 5%;
    font-weight: normal;
    color: #FFF;
    /**some fallback value**/
    font-size: 16px;
    /**responsive size is roughly 3.4%  of the device's viewport width**/
    font-size: 0.9vw;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
